*{
    box-sizing: border-box;
}
body {
    font-size: 17px;
    font-family:'Trebuchet MS', sans-serif;
    color: hsl(60, 6%, 35%);
    line-height: 20px;
}
#outer {
    position: relative;
    width: 60%;
    margin-top: 10px;
    background: #fff;
    border: initial;
    overflow: overlay;
    margin: 0px auto;
}
#header {
    padding-top: 40px;
    text-align: center;
    max-width: 100%;
    height: 100px;
    padding-bottom: 40px;
}
#main {
    padding-top: 30px;
    max-width: 100%;
    padding-bottom: 30px;
}
#EmploymentTable th{
    font-size: 17px;
    font-family:'Trebuchet MS', sans-serif;
    padding: 10px;
}
#EmploymentTable td{
    font-size: 17px;
    font-family:'Trebuchet MS', sans-serif;
    padding: 10px;
}
#EducationTable th{
    font-size: 17px;
    font-family:'Trebuchet MS', sans-serif;
    padding: 10px;
}
#EducationTable td{
    font-size: 17px;
    font-family:'Trebuchet MS', sans-serif;
    padding: 10px;
}
#UTNLogo {
    position: center;
    width: 135px;
    height: 135px;
}
#footer {
    max-width: 100%;
    border-top: double;
    text-align: center;
    color: #a8a88d;
}